<settings>
    <servers>
        <server>
            <id>ghi-artifactory</id>
            <username><![CDATA[${env.ARTIFACTORY_USERNAME}]]></username>
            <password><![CDATA[${env.ARTIFACTORY_PASSWORD}]]></password>
        </server>
        <server>
            <id>ghi-exchange</id>
            <username><![CDATA[${env.ANYPOINT_USERNAME}]]></username>
            <password><![CDATA[${env.ANYPOINT_PASSWORD}]]></password>
        </server>
        <server>
            <id>MuleRepository</id>
            <username><![CDATA[${env.MULE_REPOSITORY_USERNAME}]]></username>
            <password><![CDATA[${env.MULE_REPOSITORY_PASSWORD}]]></password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>Mule</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>MuleRepository</id>
                    <name>MuleRepository</name>
                    <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>sonar</id>
            <activation>
               <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
            <sonar.host.url>https://sonarqube.k8s.ghdna.io</sonar.host.url>
            <sonar.login>bde670e0ff6b3e1c8d1e54abf08d7f5d9a9b96a8</sonar.login>
            <sonar.sources>src/main/mule,src/main/resources,pom.xml</sonar.sources>
            </properties>
            <activeProfiles>
            <activeProfile>sonar</activeProfile>
            </activeProfiles>
        </profile>
        </profiles>
</settings>