<settings>
    <servers>
        <server>
            <id>ghi-artifactory</id>
            <username><![CDATA[${env.ARTIFACTORY_USERNAME}]]></username>
            <password><![CDATA[${env.ARTIFACTORY_PASSWORD}]]></password>
        </server>
        <server>
            <id>ghi-exchange</id>
            <username><![CDATA[${env.ANYPOINT_USERNAME}]]></username>
            <password><![CDATA[${env.ANYPOINT_PASSWORD}]]></password>
        </server>
        <server>
            <id>MuleRepository</id>
            <username><![CDATA[${env.MULE_REPOSITORY_USERNAME}]]></username>
            <password><![CDATA[${env.MULE_REPOSITORY_PASSWORD}]]></password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>Mule</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                    <repository>
                        <id>Central</id>
                        <name>Central</name>
                        <url>https://repo1.maven.org/maven2/</url>
                    </repository>
                    <repository>
                        <id>ghi-exchange</id>
                        <name>Anypoint Exchange</name>
                        <url>https://maven.anypoint.mulesoft.com/api/v2/organizations/20df7145-cc7c-4ca2-9a13-121f453d3945/maven
                            </url>
                        <layout>default</layout>
                    </repository>
                    <repository>
                        <id>anypoint-exchange-v2</id>
                        <name>Anypoint Exchange V2</name>
                        <url>https://maven.anypoint.mulesoft.com/api/v2/maven</url>
                        <layout>default</layout>
                    </repository>
                    <repository>
                        <id>anypoint-exchange</id>
                        <name>Anypoint Exchange</name>
                        <url>https://maven.anypoint.mulesoft.com/api/v1/maven</url>
                        <layout>default</layout>
                    </repository>
                    <repository>
                        <id>splunk-artifactory</id>
                        <name>Splunk Releases</name>
                        <url>https://splunk.jfrog.io/splunk/ext-releases-local</url>
                    </repository>
                    <repository>
                        <id>mulesoft-releases</id>
                        <name>MuleSoft Releases Repository</name>
                        <url>https://repository.mulesoft.org/releases/</url>
                        <layout>default</layout>
                    </repository>
                    <repository>
                        <id>mulesoft-snapshots</id>
                        <name>MuleSoft Snapshots Repository</name>
                        <url>https://repository.mulesoft.org/snapshots/</url>
                    </repository>
                    <repository>
                        <id>mulesoft-master</id>
                        <name>MuleSoft Master Repository</name>
                        <url>https://repository-master.mulesoft.org/nexus/content/groups/public/</url>
                    </repository>
                    <repository>
                        <id>mule-ee-releases</id>
                        <name>MuleEE Releases Repository</name>
                        <url>https://repository-master.mulesoft.org/nexus/content/repositories/releases-ee/</url>
                    </repository>
                    <repository>
                        <id>anypoint-exchange-v3</id>
                        <name>Anypoint Exchange V3</name>
                        <url>https://maven.anypoint.mulesoft.com/api/v3/maven</url>
                        <layout>default</layout>
                    </repository>
                    <repository>
                        <id>s3-maven-qubole-releases</id>
                        <name>Qubole Release Repository on S3</name>
                        <url>http://maven-qubole.s3-website-us-east-1.amazonaws.com/maven/release</url>
                    </repository>
                    <repository>
                        <id>s3-maven-qubole-snapshots</id>
                        <name>Qubole Snapshot Repository on S3</name>
                        <url>http://maven-qubole.s3-website-us-east-1.amazonaws.com/maven/snapshot</url>
                        <snapshots>
                            <enabled>true</enabled>
                        </snapshots>
                    </repository>
                    <repository>
                        <id>muleforge-releases</id>
                        <name>MuleForge Snapshot Repository</name>
                        <url>https://repository-master.mulesoft.org/nexus/content/repositories/releases/</url>
                    </repository>
                    <repository>
                        <id>ghi-artifactory</id>
                        <name>Artifactory</name>
                        <url>https://ghi.jfrog.io/artifactory/ghmule</url>
                        <snapshots>
                            <enabled>true</enabled>
                        </snapshots>
                        <releases>
                            <enabled>true</enabled>
                        </releases>
                    </repository>
                <repository>
                    <id>MuleRepository</id>
                    <name>MuleRepository</name>
                    <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>